[submodule "vim/vendor/vim-sensible"]
	path = vim/vendor/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/vendor/vim-colors-solarized"]
	path = vim/vendor/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "fonts/Meslo-Font"]
	path = fonts/Meslo-Font
	url = git@github.com:andreberg/Meslo-Font.git
[submodule "rubymine/solarized"]
	path = rubymine/solarized
	url = git@github.com:dgt79/rubymine-colors-solarized.git
