.DS_Store
/.claude/**
/.serena/**
/Gemfile.lock
/brew/Brewfile.lock.json
/claude/*.db
/claude/claude.json
/claude/projects
/claude/settings.json
/claude/statsig/*
/claude/todos
/git/ignore
/git/local
/goose/history.txt
/irssi/*log
/irssi/default.theme
/karabiner/automatic_backups
/lazygit/state.yml
/node_modules
/package-lock.json
/package.json
/serena/.serena
/tmux/plugins
/zsh/*.bak
/zsh/*.local
/zsh/*.local.zsh
/zsh/*.zwc
/zsh/*.zwc.old
/zsh/.antidote/
/zsh/.zcompcache/
/zsh/.zcompdump*
/zsh/.zdirs
/zsh/.zplugins/
/zsh/.zsh_history
/zsh/.zsh_plugins.zsh
/zsh/.zsh_sessions/
/zsh/plugins/
/zsh/~*
BROWSE
