BROWSE
.DS_Store
/Gemfile.lock
/brew/Brewfile.lock.json
/git/local
/irssi/*log
/irssi/default.theme
/karabiner/automatic_backups
/lazygit/state.yml
/node_modules
/nvim/lazy-lock.json
/package-lock.json
/package.json
/tmux/plugins
/zsh/*.bak
/zsh/*.local
/zsh/*.local.zsh
/zsh/*.zwc
/zsh/*.zwc.old
/zsh/.antidote/
/zsh/.zcompcache/
/zsh/.zcompdump*
/zsh/.zdirs
/zsh/.zplugins/
/zsh/.zsh_history
/zsh/.zsh_plugins.zsh
/zsh/.zsh_sessions/
/zsh/plugins/
/zsh/~*
