"*":
  core:
    projectHome: "/Users/ian/code"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 16
    showIndentGuide: true
  "exception-reporting":
    userId: "a2a8db36-414a-582f-d9f1-b20f16147aa1"
  metrics:
    userId: "dd115d1282ca1890e0c3f2726d0ac30fed18d796"
  "release-notes":
    viewedVersion: "0.73.0"
  welcome:
    showOnStartup: false
